body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    color: #403F3D;

    -webkit-font-smoothing: antialiased;

    background-color: #E1D4C9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0
}

p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
}

a.address__row:active {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/* !!! HEADER !!! */

.header {
    width: 100%; 
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 20px 0;
}

.header__logo {
    height: 60px;
    padding-bottom: 20px;
}

.nav {
    display: flex;
}

.nav__link  {
    text-decoration: none;
    margin-left: 40px;
    font-size: 16px;
    line-height: 1.5;
    color: #403F3D;
    font-weight: 600;
    transition: border-bottom .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    border-bottom: 2px solid #403F3D;
}

.menu__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    background-color: #E1D4C9;
    width: 72px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: border-bottom .1s linear;
}

.menu__btn:hover {
    border-bottom: 2px solid #403F3D;
}

.--und {
    border-bottom: 2px solid #403F3D;
}

.menu__btn__item {
    font-size: 16px;
    line-height: 1.5;
    color: #403F3D;
    font-weight: 600;
}

.social__icon {
    display: block;
    height: 20px;
    width: 20px;
    fill: #E1D4C9;
    transition: stroke .2s linear;
}

/* !!! INTRO !!! */

.--h1 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.intro {
    margin-bottom: 100px;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 644px;
    background: #E1D4C9 url("img/inner__back.png") center no-repeat ;
    background-size: cover;
    border-radius: 40px;
    
}

.intro__title {
    width: 530px;
    font-size: 72px;
    line-height: 1.05;
    font-weight: 600;
    color: #E1D4C9;
    margin-left: 100px;
}

.text__accent {
    color: #B0907A;
    font-style: italic;
}

.intro__describe {
    width: 530px;
    font-size: 16px;
    font-weight: 400;
    color: #E1D4C9;
    line-height: 1.5;
    margin-top: 40px;
    margin-left: 100px;
}

.intro__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 64px;
    
    background-color: #E1D4C9;
    border-radius: 100px;
    border: none;
    padding: 0;
    margin-top: 40px;
    margin-left: 100px;
    cursor: pointer;
}

.intro__menu__text {
    font-size: 16px;
    margin-right: 5px;
    font-weight: 600;
    line-height: 1.5;
    color: #403F3D;
}

.intro__menu > .social__icon {
    display: none;
}

.intro__menu:hover .social__icon {
    display: block;
}

/* !!! FAVORITE !!! */

.favorite {
    text-align: center;
}

.favorite > .container {
    position: relative;
}

.favorite__title {
    font-size: 60px;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 40px;
}

.favorite__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #403F3D;
    width: 480px;
    margin: 0 auto;
}

.favorite__item__foto {
    position: relative;
    width: 480px;
    height: 480px;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.favorite__item__img {
    width: 480px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin-bottom: 20px;
    z-index: 1;
}

.favorite__item__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
}

.favorite__item__describe {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
}

.favorite__item__price {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 40px;
}

.favorite__sliders {
    display: flex;
    justify-content: space-between;
    width: 144px;
    margin: 0 auto 100px;

}

.sliders__block {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #C1B6AD;
}

.--active {
    background-color: #665F55;
}

.controls__left, 
.controls__right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 54%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #665F55;
    border-radius: 100px;
    cursor: pointer;
}

.controls__left:hover,
.controls__right:hover {
    background-color: #665F55;
}

.controls__left > .social__icon {
    stroke: #403F3D;
}

.controls__right > .social__icon {
    stroke: #403F3D;
}

.controls__left:hover > .social__icon,
.controls__right:hover > .social__icon {
    stroke: #E1D4C9;
}



.controls__left {
    left: 5px;
}

.controls__right {
    right: 5px;
}


/* !!! GALLERY !!! */

.gallery {
    height: 1325px;
    margin-bottom: 100px;
}

.gallery__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 40px;
}

.gallery__collage {
    display: flex;
    gap: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 1060px;
    margin-bottom: 100px;
}

.gallery__item {
    width: 660px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.gallery__item__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.--big {
    height: 590px;
}

.--small {
    height: 430px;
}



/* !!! APP !!! */

.app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 630px;
    margin-bottom: 100px;
}

.app__inner {
    width: 630px;
}

.app__inner__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 40px;
}

.app__inner__describe {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}

.app__download {
    display: flex;
    width: 420px;
    justify-content: space-between;
}

.app__foto {
    margin-top: 10px;
    text-align: center;
}

.button {
    display: flex;
    width: 200px;
    height: 64px;
    border: 1px solid #665F55;
    border-radius: 100px;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
}

.button:hover {
    background-color: #665F55;
    color: #E1D4C9;
}

.button > .button__icon {
    fill: #403F3D;
}

.button:hover > .button__icon {
    fill: #E1D4C9;
}

.button__icon {
    width: 36px;
    height: 36px;
}

.button__text {
    font-size: 10px;
    line-height: 1.4;
    font-weight: 600;
    padding-left: 8px;
    text-align: left;
    height: 40px;
}

.bold {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

/* !!! FOOTER !!! */

.footer__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #665F55;
    height: 450px;
    border-radius: 40px;
    margin-bottom: 40px;
}

.footer__social {
    display: flex;
    margin-top: 40px;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #C1B6AD;
    border-radius: 50%;
    margin-right: 12px;
    transition: background-color .2s linear;
}

.social__item:hover {
    background-color: #E1D4C9;
}

.social__item > .social__icon {
    stroke: #E1D4C9;
}

.social__item:hover > .social__icon {
    stroke: #403F3D;
}

.footer__describe {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.25;
    margin: 100px;
    width: 530px;
}

.footer__title {
    color: #E1D4C9;
}

.contact {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 40px;
}

.footer__address {
    margin-top: 20px;
    color: #E1D4C9;
}

.address {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    font-style: normal;

}

.address__row {
    display: flex;
    margin-bottom: 20px;
    color: #E1D4C9;
    align-items: center;
}

.address__row__desc {
    margin-left: 4px;
    cursor: pointer;
    transition: border-bottom .1s linear;
}

.address__row__desc:hover {
    border-bottom: 2px solid #E1D4C9;
}



/* ------------ MENU ------------ */

/* !!! TITLE !!! */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.title__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    height: 150px;
    margin: 0 auto 40px;
}

.title__pick {
    display: flex;
    gap: 16px;
}

.menu__pos {
    display: flex;
    background-color: transparent;
    border-radius: 100px;
    height: 46px;
    align-items: center;
    border: 1px solid #C1B6AD;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #403F3D;
}

.--act {
    background-color: #665F55;
    color: #E1D4C9;
}

a > span {
    margin: 11px 16px 11px 8px;
}

.menu__pos__img {
    display: flex;
    width: 30px;
    height: 30px;
    background-repeat: 100px;
    align-items: center;
    justify-content: center;
    background-color: #C1B6AD;
    border-radius: 100px;
    margin-left: 8px;
}

/* !!! MENU !!! */

.menu {
    margin-bottom: 100px;
}

.menu__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 38px;
}

.menu__item {
    border: 1px solid #C1B6AD;
    border-radius: 40px;
    height: 508px;
    transition: transform .2s linear;
    cursor: pointer;
}

.item__picture {
    display: flex;
    position: relative;
    width: 310px;
    height: 310px;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 40px;
}

.item__img {
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.1);
}

.menu__item:hover {
    transform: scale(1.1);
}

.item__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    margin: 20px 20px 12px;
}

.item__describe {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    height: 72px;
    margin: 0px 20px 12px;
}

.item__price {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    margin: 0px 20px;
}
